.dashboardIcon {
  width: fit-content;
  color: #006fee;
  padding: 10px;
  font-size: 30px;
  border-radius: 10px;
  background-color: var(--cardBg);

  /*  &.Pacientes {
    color: rgb(255, 255, 182);
    background-color: rgb(202, 202, 92);
  }

  &.Personal {
    color: rgb(168, 255, 243);
    background-color: rgb(62, 132, 160);
  }

  &.Habitaciones {
    color: rgb(220, 160, 255);
    background-color: rgb(127, 89, 197);
  }

  &.Consultas {
    color: rgb(245, 118, 118);
    background-color: rgb(192, 78, 74);
  }  */
}
