@font-face {
  font-family: 'Poppins';
  src: url('./src/assets/fonts/Poppins.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

.mainContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainContainer {
  gap: 4rem;
  display: flex;
  max-width: 1100px;
  margin-top: 2rem;
  flex-direction: column;
}

main {
  padding: 20px;
  width: 100%;
  display: flex;
  max-width: 1000px;
  flex-direction: column;
}
