@font-face {
  font-family: 'Poppins';
  src: url('./src/assets/fonts/Poppins.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: var(--bgColor);
  height: 100vh;
}

.iconSVG {
  width: 20px;
  height: 20px;
}

.changeThemeIcon {
  cursor: pointer;
  svg {
    color: #71717a;
    font-size: 20px;
  }
}

.default-text-color {
  color: var(--text);
}

.dropdownCheckboxIcon {
  svg {
    color: var(--text);
    font-size: 20px;
  }
}

#tv-attr-logo {
  display: none;
}
