.dark {
  --text: #dbdbdb;
  --cardBg: #212124;
  --bgColor: #141414;
  --scrollBg: #27272a;
  --scrollBgHover: #323236;
}

.light {
  --text: #313136;
  --cardBg: #f4f4f5;
  --bgColor: #ededf5;
  --scrollBg: #bebebe;
  --scrollBgHover: #adadad;
}
